<div *ngIf="logService.messages.length">

  <p>
    <button type="button" class="btn btn-primary" (click)="showHide()">
      <span *ngIf="show else hide">Masquer les Logs</span>
      <ng-template #hide><span>Afficher les Logs</span></ng-template>
    </button>
    <button *ngIf="show" type="button" class="btn btn-primary" (click)="logService.clear()">Reset</button>
    <!--</span>-->
  </p>
  <div *ngIf="show">

    <p *ngFor="let message of logService.messages">
      <ngb-alert>{{ message }}</ngb-alert>
    </p>
  </div>
</div>
