<h2>Liste des Centrales</h2>
<ul class="plants">
  <li *ngFor="let plant of plants">
    <!--<a  routerLink="/detail/{{plant.id}}">-->
    <!--<span class="badge">{{plant.id}}</span> {{plant.name}} ({{plant.type.name}})-->
    <!--</a>-->
    <a (click)="openDetails(plant)">
      <span class="badge">{{plant.id}}</span> {{plant.name}} ({{plant.type.name}})
    </a>
    <!--<button class="btn btn-lg btn-outline-primary" (click)="openCentrale()">Ajouter Centrale</button>-->
    <button class="delete" title="delete plant" (click)="delete(plant)">x</button>
  </li>
</ul>
<hr>

<h4>Ajout Centrale</h4>
<!--<div>-->
<!--<label>Nom Centrale-->
<!--<input #plantName/>-->
<!--</label>-->
<!--</div>-->
<!--<div>-->
<!--<label>Type-->
<!--<select [(ngModel)]="plantType">-->
<!--<option value="" disabled>Choose a type</option>-->
<!--<option *ngFor="let plantType of plantsTypes$ | async" [ngValue]="plantType">-->
<!--{{ plantType.name }}-->
<!--</option>-->
<!--</select>-->
<!--</label>-->
<!--</div>-->
<!--<div>-->
<!--<label>Capacité (kWh)-->
<!--<input #capacite type="number"/>-->
<!--</label>-->
<!--</div>-->

<div class="container">
  <div class="row justify-content-start">
    <div class="col-6">
      <!--<form name="plantForm"-->
      <!--(ngSubmit)="f.form.valid && add(plantName.value, plantType, capacite.value); plantName.value=''; plantType=null;capacite.value=''"-->
      <!--#f="ngForm" class="needs-validation" novalidate>-->

      <div class="form-row">
        <label for="pName">Nom:</label>
        <input class="form-control" type="text"
               #plantName
               id="pName">
      </div>

      <div class="form-row">
        <label for="plant">Type:</label>
        <div class="input-group mb-2">
          <select [(ngModel)]="plantType" id="plant">
            <option value="" disabled>Choose a type</option>
            <option *ngFor="let pType of plantsTypes$ | async" [ngValue]="pType">
              {{ pType.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <label for="capacite">Capacité de stockage</label>
        <!--<input type="number" class="form-control"-->
        <!--[ngClass]="{ 'is-invalid': f.submitted && !capacite.valid }"-->
        <!--name="capacite" [(ngModel)]="model.capacite" #capacite="ngModel"-->
        <!--required/>-->
        <div class="input-group mb-2">
          <input type="number" class="form-control"
                 name="capacite" #capacite
                 aria-describedby="capacite-unit"
                 required/>
          <div class="input-group-append">
            <span class="input-group-text" id="capacite-unit">kW</span>
          </div>
        </div>
      </div>

      <div class="form-row">
          <button
            class="btn btn-primary"
            [disabled]="plantType == null"
            (click)="add(plantName.value, plantType, capacite.value); plantName.value=''; plantType=null;capacite.value=''">
            Ajouter Centrale
          </button>
          <button class="btn btn-secondary" (click)="goBack()">Back</button>
      </div>
      <!--</form>-->
    </div>
  </div>
</div>
